<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="/scss/style.css">
<!-- CDN example (unpkg) -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>


 
    <title>Todo</title>
</head>
<body>
  {{>header}}
<div class="container">
<select class="form-select" aria-label="Default select example">
  
  <option value="1" class="all">All</option>
  <option value="2" class="finnish">Finnish</option>
  <option value="3" class="unfinnish">Unfinnish</option>
</select>

  <div class="list">
<table >
  <th class="col-md-2">Tittle</th>
  <th class="col-md-2">Description</th>
  <th class="col-md-2">Due date</th>
  <th class="col-md-2">List's name</th>
  <th class="col-md-2">Owner's name</th>
  <th class="col-md-2">Action</th>
  {{#each todos}}
    <div class ="listpart">
      <tr>
   
        <td class="col-md-2 todo"><h3>{{this.tittle}}</h3></td>
        <td class="col-md-2 todo">{{this.description}}</td>
        <td class="col-md-2 todo">{{this.duedate}}</td> 

        <td class="col-md-2 todo">T1</td>
        <td class="col-md-2 todo">T1</td>
      
        <td class="col-md-2 todo"><button class="btn btn-danger" type="button"><a data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#exampleModal">Xóa</a></button><button class="btn btn-primary">Sửa</button><button class="btn btn-success">Hoàn thành</button></td>
     
      </tr>
    </div>
    {{/each}}
  


    

  
  
</table>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xóa ngu là mất ráng chịu
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btn-delete-list"type="button" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#exampleModal"class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

    </div>
{{>footer}}
    
    </body>
    <form name="delete-list-form" method="POST"></form>
 <script>
document.addEventListener('DOMContentLoaded', function () {
  var listId; 
  var deleteForm = document.forms['delete-list-form'];
  var btnDeleteList = document.getElementById('btn-delete-list');
  $('#exampleModal').on('show.bs.modal', function (event){
  var button = $(event.relatedTarget);
  listId = button.data('id');
});
btnDeleteList.onclick = function () {
  
  deleteForm.action='/todo/deleteitem/'+listId+'?_method=DELETE';
  deleteForm.submit();
}
});</script>
</html>